@mixin section-title {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 26px;
    text-transform: uppercase;
    color: #2d2b27;
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

