.promo {
    position: relative;
    margin: 0 auto;
    padding: 105px 0 40px 0;
    background-color: #c5cace;
}

.promo__wrapper {
    width: 87%;
    margin: 0 auto;
}

.promo__info-title {
    margin: 0;
    padding: 0;
    width: 280px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #171717;
    // text-align: center;
}

.promo__info-category {
    width: 280px;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: left;
    color: #171717;
    font-weight: 600;
}

.promo__info-category span {
    margin-left: 25px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.promo__info-buttons {
    @include reset-list;
    margin: 0 auto;
    transform: translateX(-71px);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 142px;
    // margin-left: 37px;

}

.promo__info-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid #171717;
    border-radius: 50%;
        &--next {
            background-color: #171717;
        }
        &--heart:hover,
        &--share:hover {
            background-color: #171717;
            border: none;
                & .promo__info-icon {
                   fill: #f2f2f2;
                }
        }
        &--next:hover {
            background-color: #f2f2f2;
            border: none;
                & .promo__info-icon--next {
                   fill: #171717;
                }
        }
}
        
.promo__info-icon--next {
    fill: #fff;
}

.promo__info-text {
    width: 280px;
    margin: 0 auto;
    margin-bottom: 15px;
    line-height: 26px;
} 

.promo__info-submit {
    display: block;
    width: 115px;
    margin: 0 auto;
    margin-bottom: 30px;
    transform: translateX(-87px);
    background-color: #171717;
    color: #fff;
        &:hover {
            color: #171717;
            text-decoration: none;
            background-color: #f2f2f2;
        }

}

.promo__toggles {
    width: 280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.promo__toggle {
    display: inline-block;
    position: relative;
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #171717;
    cursor: pointer;
        &--prev {
            color: #fff;
                &::before {
                    position: absolute;
                    content: "";
                    height: 2px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #ffff;
                }
                &::after {
                position: absolute;
                content: "";
                width: 1px;
                height: 1px;
                bottom: -3px;
                left: -4px;
                border: 4px solid transparent;
                border-right-color: #fff;
            }
        }
        &--next {
            &::before {
                position: absolute;
                content: "";
                height: 2px;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #171717;
            }
            &::after {
                position: absolute;
                content: "";
                width: 1px;
                height: 1px;
                bottom: -3px;
                right: -4px;
                border: 4px solid transparent;
                border-left-color: #171717;
            }
            &:hover {
                color: #fff;
                &::before {
                    background-color: #fff;
                }
                &::after {
                    border-left-color: #fff;
                }
            }
    }    
}

@media (min-width: $tablet-width) {
    .promo {
        padding-top: 135px;
        padding-bottom:70px;
        background-image: url("../img/bg-header-lg.jpg");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    } 

    .promo__wrapper {
         width: 67%;
    }

    .promo__info-title {
        margin: 0;
        margin-left: auto;
        margin-bottom: 10px;
    }

    .promo__info-category {
        margin: 0;
        margin-left: auto;
        margin-bottom: 10px;
    }

    .promo__info-buttons {
        margin: 0;
        margin-left: auto;
        margin-bottom: 10px;
        transform: translateX(-137px);
    }

    .promo__info-text {
        margin: 0;
        margin-left: auto;
        margin-bottom: 15px;
    }

    .promo__info-submit {
        margin: 0;
        margin-left: auto;
        margin-bottom: 15px;
        transform: translateX(-167px);
    }

    .promo__toggles {
        margin: 0;
        margin-left: auto;
    }
}

@media (min-width: $desktop-width) {
    .promo {
        max-width: 1920px;
        padding-top: 100px;
        padding-bottom: 60px;
        background-image: url("../img/bg-header.jpg");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }

    .promo__wrapper {
        width: 79%;
    }

    .promo__info-title {
        // width: 770px;
        // font-size: 117px;
        // line-height: 120px;
        margin-bottom: 20px;
        width: 520px;
        font-size: 77px;
        line-height: 90px;
    }

    .promo__info-category {
        margin-bottom: 18px;
        font-size: 15px;
        line-height: 15px;
        transform: translateX(-230px);
    }

    .promo__info-buttons {
        margin-bottom: 30px;
        transform: translateX(-370px);
    }

    .promo__info-text {
        width: 300px;
        margin-bottom: 20px;
        transform: translateX(-220px);
    }

    .promo__info-submit {
        margin-bottom: 60px;
        transform: translateX(-400px);
    }

    .promo__toggles {
        width: 300px;
        transform: translateX(-220px);
       
    }
}

@media (min-width: $xl-desktop-width) {
    .promo {
        padding-top: 160px;
        padding-bottom: 180px;
    }

    .promo__wrapper {
        width: 100%;
    }

    .promo__info-title {
        width: 770px;
        margin-bottom: 30px;
        font-size: 115px;
        line-height: 110px;
        transform: translateX(-200px);
    }

    .promo__info-category {
        margin-bottom: 20px;
        transform: translateX(-680px);
    }

    .promo__info-category b {
        font-size: 25px;
    }

    .promo__info-category span {
        font-size: 20px;
    }

    .promo__info-buttons {
        margin-bottom: 20px;
        transform: translateX(-820px);
    }

    .promo__info-text {
        margin-bottom: 40px;
        transform: translateX(-660px);
    }

    .promo__info-submit {
        transform: translateX(-850px);
    }

    .promo__toggles {
        position: absolute;
        width: 50px;
        top: 150px;
        right: 80px;
        flex-direction: column;
    }

    .promo__toggle {
        letter-spacing: 5px;
        &--prev {
            margin-bottom: 20px;
        }
    }
}